.mainDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.mainDiv img{
    width: 30%;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 50%;
      }
}