
@font-face {
  font-family: "Mabry"; /*Can be any text*/
  src: local("MabryPro-Regular"),
    url("./fonts/MabryPro-Regular.ttf") format("truetype");
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mantine-font-family: Mabry;
  --mantine-font-family-monospace: Mabry;
  --mantine-font-family-headings: Mabry;
}
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-green-light: rgba(64, 192, 87, 0.15);
  --mantine-color-body: var(--mantine-color-dark-8);
  --mantine-secondary-color-body: #8CE99A;
  --mantine-data-card-color: var(--mantine-color-dark-7);
}

::-moz-selection { /* Code for Firefox */
  color: #243727;
  background:   white;
}

::selection {
  color: #243727;
  background:   white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mabry;
}

