.container {
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 16px;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: var(--mantine-font-family);
}

#btn1 {
  background-color: var(--mantine-color-green-light);
}

.grp {
  width: 70%;
  margin-bottom: 24px;
  border: 1.5px solid #424242;
  border-radius: 10px;
  padding: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}
.tblcontainer {
  width: 70%;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.tablehead{
    color: white;
    /* color: var(--mantine-secondary-color-body); */
}