.container {
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 16px;
  }
}
.root {
  width: 40%;

  @media (max-width: $mantine-breakpoint-lg) {
    width: 60%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}
.input {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}
.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
.gridDiv{
  width: 100%;
}
.noWorkerDiv{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  white-space: "nowrap";
  text-align: center;
}

