.wrapper {
  min-height: 100lvh;
  width: 100%;
  position: relative;
  margin-left: auto;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url("/images/bg2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#btn {
  background-color: var(--mantine-color-green-light);
}
.register {
  color: var(--mantine-color-green-light);
  color: var(--mantine-secondary-color-body);
  cursor: pointer;
}
.form {
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100lvh;
  max-width: rem(480px);

  background-color: #1f1f1f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='684' height='82.1' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2340C057' stroke-width='4' stroke-opacity='0.04'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: var(--mantine-font-family);
}
