.container {
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 16px;
  }
}
.gridDiv{
  width: 100% ;
}
.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
.noDustbinDiv{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  white-space: "nowrap";
  text-align: center;
}