.container {
  min-height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 16px;
  }
}
.root {
  width: 40%;

  @media (max-width: $mantine-breakpoint-lg) {
    width: 60%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}
.input {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}
